//Variables
$backgroundColor: #ffffffe0;
$primaryColor: #2E3092;

//Estilos
.p-datatable {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
}

.p-paginator{
    font-size: 0.8rem;
    font-weight: bold;
    .p-paginator-pages {
        border-radius: 1px;
    }

}



:deep(.p-datatable-header) {
    background-color: $backgroundColor;
    color: $primaryColor;
    font-weight: bold;
    text-align: center;
}

.p-column-header {
    color: #2E3092;
    font-weight: bold;
    padding: 4px;
    text-align: center;
}

.p-column-title {
    color: #2E3092;
    font-weight: bold;
    text-transform: uppercase;
}

.td{
    text-align: center;
}
