@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    /* display: none; */
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 1rem;
}

/* Full-width textarea */
.form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    /* background: #5ddff96a; */
    resize: none;
    min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
    background-color: #dddddd00;
    outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

.alturah8 {
    height: 2rem !important;
}

h4.statusmessage {
    margin: 1em 0 0 0;
}

.b-fa.statusicon {
    margin-inline-end: 0.5em;
}

.b-toolbar>.b-content-element .b-button {
    margin-inline-end: 0em;
    height: '4em' !important;
}

.b-task-baseline[data-index="0"] {
    background-color: #ddd;
}

.b-task-baseline[data-index="1"] {
    background-color: lightgray;
}

.b-task-baseline[data-index="2"] {
    background-color: #c9c9c9;
}

.b-task-baseline.b-baseline-ahead {
    background-color: lightgreen;
}

.b-task-baseline.b-baseline-behind {
    background-color: indianred;
}

.b-task-baseline.b-baseline-on-time {
    background-color: lightblue;
}

.b-hide-baseline-1 .b-task-baseline[data-index="0"] {
    display: none;
}

.b-hide-baseline-2 .b-task-baseline[data-index="1"] {
    display: none;
}

.b-hide-baseline-3 .b-task-baseline[data-index="2"] {
    display: none;
}

.b-color-picker-container {
    width: 18em !important;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(248, 249, 250);
}

.b-color-picker-container .b-color-picker-item {
    width: 3em;
    height: 3em;
    padding: 0.3em;
}

.b-color-picker-container .b-color-picker-item div {
    width: 100%;
    height: 100%;
}

.b-color-picker-container .b-color-picker-item:hover {
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}

.b-gantt .b-gantt-task .b-task-percent-bar,
.b-gantt .b-gantt-task:hover .b-task-percent-bar {
    background-color: rgba(0, 0, 0, 0.2);
}

.b-inline-list {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.5em;
    row-gap: 0.5em;
    padding: 0.5em;
}

.b-inline-list .b-list-item {
    flex: 0 0 calc(33.333% - 0.333em);
    box-shadow: lightgrey 0px 0px 4px 0px;
    display: flex;
    column-gap: 1em;
}

.b-inline-list .b-list-item .b-resource-detail {
    flex: 1;
}

.b-inline-list .b-list-item .b-resource-city {
    display: flex;
    justify-content: space-between;
}

.b-inline-list .b-list-item img {
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.b-inline-list .b-list-item i {
    color: red;
}

.b-filestab .b-grid-cell i {
    margin-inline-end: 0.3em;
}


.fondo {
    background-image: url(/fondo-login.jpg);
    background-size: 100% 100%;
    background-repeat: space;
    background-origin: content-box;
    background-attachment: fixed;
    background-clip: padding-box;
}

.video {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 300%;
    height: auto;
    z-index: -1;
}

::-webkit-scrollbar-track {
    background-color: #e9edf000;
    border-left: 2px solid #ededed00;
    border-radius: 4px;
}

::-webkit-scrollbar {
    width: 3px;
    background-color: #ffffff00;
    height: 1px;
}

::-webkit-scrollbar-thumb {
    background: rgb(46 48 146);
    border-radius: 1px;
}

.calendar {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-right: 8px;
    background: #fff;
    width: 24px;
    height: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1254901961);
    border-radius: 4px;
    overflow: hidden;
}

.calendar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 9px;
    background: #d93737;
}

.calendar .date {
    position: absolute;
    font-size: 12px;
    bottom: 3px;
    color: #333;
}

.calendar .month {
    position: absolute;
    font-size: 8px;
    top: -1px;
    color: #fff;
}

/*# sourceMappingURL=app.css.map */
